# Explicitly do NOT ignore the docker directory
!docker/

# Version control
.git
.gitignore

# Dependencies
node_modules/
vendor/
package-lock.json

# Caches
var/cache/
var/log/

# OS/Temp
.DS_Store
*.log
*.tmp

